body {
  margin: 0;
  /* Georg la til denne: */
  /* display: flex; */
  /* Georg la til denne: */
  /* flex-direction: column; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Georg la til dette: */
/* html,
body {
  margin: 0;
  padding: 0;
} */
/* Georg la til dette: */
/* html {
  min-height: 100vh;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* @media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
} */
